<% flash.each do |key, value| %>
  <div class="error">
    <% value.each do |error| %>
      <li> <%= error %></li>
    <% end %>
  </div>
<% end %>

<h1>New User</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
