.form {
    margin: auto;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 300px;
}
td, th {
    text-align: center;
    padding: 10px;
}
.fa-user {
    color: #358ba0;
}