<%if @reviews.length != 0 %>
    <article>
      <h4> Reviews </h4>
      <table class="table table-bordered">
        <tr >
          <th>Rating </th>
          <th>Description</th>
        </tr>
        <% @reviews.each do |review|  %>
          <tr>
            <td>
              <%= render 'rating', rating: review.rating %>
            </td>
            <td><%= review.description %></td>
              <% if current_user %>
                <td>
                <% if review.user_id == current_user.id %>
                  <%= link_to fa_icon('trash'), review_path(review), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
              </td>
             <% end %>
          </tr>
        <% end %>
      </table>
    </article>
  <% end %>